<!--first step-->
<div id="registry-details">
    <div class="coverhead" style="background-image: url('images/back2.jpg')"></div>
    <div class="md-modal md-effect-12" id="modal-registryItems">
        <div class="md-content">
            <h3>Select Items that you would like to add to your registry</h3>
            <hr/>
            <div id="reg-items"></div>
            <div>
                <button  style="margin-top:40px" class="md-close rbButton dark large btn-block">Done</button>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>
    <div class="shell signup">
        <h1>Registry Details</h1>
        <p class="lead text-muted">Please enter your information as accurately as possible</p>
        <hr/>
        <form id="regDetailsFrm" name="regDetailsFrm" action="" class="signup">
            <label class="lead text-muted" style="margin-bottom: 10px">Whats the occasion?</label>
            <input type="text" id="occasion" name="occasion" placeholder="Marriage, Divorce party, Need a vacation, etc"/>
            <label class="lead text-muted" style="margin-bottom: 10px">Where would you like to go?</label>
            <input type="text" id="destination" name="destination" data-role="tagsinput" placeholder="Enter a destination" />
            <label class="lead text-muted" style="margin-bottom: 10px">What is your funding goal?</label>
            <input type="text" id="goal" name="goal" placeholder="$5,000,000,000 - Would be nice :)"/>
            <label class="lead text-muted" style="margin-bottom: 10px">When would you like the registry to end?</label>
            <div class="bfh-datepicker" id="endDate" data-name="endDate" data-placeholder="When would you like the registry to end?" style="margin-bottom:10px"></div>
            <label class="lead text-muted" style="margin-bottom: 10px">Share your story and why you need this registy</label>
            <textarea id="wish" name="wish" placeholder="What are you going to wish for?"></textarea>
            <p class="lead text-muted">Your info is safe, never shared</p>
            <div><button id="go-reg-items-btn" class="rbButton dark large btn-block">Continue</button></div>
            <div class="signup-info"><a href="#">Already a member?</a></div>
        </form>
    </div>
</div>